
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
</head>
<style>
    h2 {
    text-align: center
    }

    #sidebar {
    width: 100px;
    height: 700px;
    background-color: AliceBlue;
    float: left;
}
</style>
<body>

<br>
<div id="sidebar"><a href="/dashboard"><center>Dashboard</center></a></div>
<h2>Add new blog entry below!:</h2>

<br>
    <form action="/add" align="center" method="POST">Title:<br>
    <textarea type="text" name="add_title" cols="50">Type title here</textarea>
        <br>Content:<br>
    <textarea name="add_content" cols="100" rows="25">Type new blog post here
    </textarea><br>
    <input type="submit" value="Submit Changes"/>
</form>


</body>
</html>l>html>